// Custom styles.

body{
 font-size: 18px;
}

.highlight {
  padding: 3px;
}

p {
  text-indent: 2em;
  color: #fff;
}

.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 80px;
  transition: all 0.4s ease;
 }
